<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h1 class="text-white text-center" >Secret Chat 1</h1>
    </nav>

    <div class="chat_window">
        <div class="top_menu">
            <div class="buttons">
                <div class="button close"></div>
                <div class="button minimize"></div>
                <div class="button maximize"></div>
            </div>
            <div class="title"><p>ID chat: <span id="receptor"></span></p></div>
        </div>
        
        <ul class="messages" id = "message-container"></ul>

        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <input class="message_input" type="text" id="message" required placeholder="Escribe tu mensaje aquí..." />
            </div>
            <div class="send_message"  onclick="sendMessage()">
                <div class="icon"></div>
                <div class="text">Enviar</div>
            </div>
        </div>

    </div>   

    <script>
        var socket = io();
        socket.on('connect', function() {
            console.log('Connected to the server');
            
            var receptor = '{{ receptor }}';
            document.getElementById('receptor').textContent = receptor;
            var chatId = receptor;
            // Unirse al chat utilizando el ID de chat
            socket.emit('join_chat', { chat_id: chatId });
        });

        socket.on('disconnect', function() {
            console.log('Disconnected from the server');
            // Puedes agregar aquí el código para manejar la desconexión
        });

        socket.on('message', function(data) {
            var message = data.message.split(":");
            var queueName = data.queue_name;

            var messageContainer = document.getElementById('message-container');
            // Agregar la clase CSS al elemento
            var messageInput = document.getElementById('message');
            
            var liElement = document.createElement('li');

            if ('{{nick}}' === message[0]){
                messageInput.value = '';
                liElement.classList.add('message', 'right', 'appeared');
                var textWrapperElement = document.createElement('div');
                textWrapperElement.classList.add('text_wrapper');

                var textElement = document.createElement('div');
                textElement.classList.add('text');
                textElement.textContent = message[1]; // Asignar contenido de la variable "msg"
            }else{
                messageInput.value = '';
                liElement.classList.add('message', 'left', 'appeared');
                var textWrapperElement = document.createElement('div');
                textWrapperElement.classList.add('text_wrapper');

                var textElement = document.createElement('div');
                textElement.classList.add('text');
                textElement.textContent = message[0] + ': ' + message[1]; // Asignar contenido de la variable "msg"

            }
        
            textWrapperElement.appendChild(textElement);
            liElement.appendChild(textWrapperElement);
            messageContainer.appendChild(liElement);   
        });

        function sendMessage() {
            var messageInput = document.getElementById('message');
            var message = '{{ nick }}' + ':' + messageInput.value;

            var recipientId = '{{ recipient_id }}';
            var chatId = recipientId;

            // Enviar el mensaje al servidor
            socket.emit('message', { chat_id: chatId, message: message });
        }

        // Configurar el emisor y receptor en la interfaz
        document.getElementById('receptor').textContent = '{{ recipient_id }}';
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>