<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
    <script>
        var socket = io();
        
        
        socket.on('connect', function() {
            console.log('Connected to the server');
        });

        var emisor = '{{ emisor }}';
        if (emisor === 'robin'){
            socket.on('message_r', function(data) {
                var message = data.message;        
                alert('Received message robin:' + message);
            // Aquí puedes mostrar el mensaje en la interfaz de usuario
            });
        }
        else if (emisor === 'mauro'){
            socket.on('message_m', function(data) {
                var message = data.message;        
                alert('Received message mauro:' + message);
            // Aquí puedes mostrar el mensaje en la interfaz de usuario
            });
        }
        else if (emisor === 'cristian'){
            socket.on('message_c', function(data) {
                var message = data.message;        
                alert('Received message cristian:' + message);
            // Aquí puedes mostrar el mensaje en la interfaz de usuario
            });
        }
        else if (emisor === 'vero'){
            socket.on('message_v', function(data) {
                var message = data.message;        
                alert('Received message vero:' + message);
            // Aquí puedes mostrar el mensaje en la interfaz de usuario
            });
        }
        
        socket.on('message', function(message) {
            alert('Received message:', message);
            // Aquí puedes mostrar el mensaje en la interfaz de usuario
        });

        function sendMessage() {
            var messageInput = document.getElementById('message');
            var message = messageInput.value;
            messageInput.value = '';

            socket.emit('message', message);
        }
    </script>
</head>
<body>
    <h1>Chat</h1>
    <p>Emisor: {{ emisor }}</p>
    <p>Receptor: {{ receptor }}</p>

    <div id="message-container">
        <!-- Aquí puedes mostrar los mensajes recibidos -->
    </div>

    <input type="text" id="message" required>
    <button onclick="sendMessage()">Enviar</button>
</body>
</html>
